.main {
    display: block;
    /* text-align: center; */
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.switch {
    font-size: 16px
}

.collection-item {
    /* width: 80%; */
}

.collection-item.select-item {
    line-height: 3rem !important
}

.collection {
    width: 100%;
    font-size: 16px
}

.col {
    margin-top: 2rem !important; 
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 2px 0 rgba(148,147,147,0.36);
}

.header {
    text-align: center
}

.logo-name {
    display: block;
    position:relative;
    height: 30px;
    margin: 32px;
}

.logo-name img {
    height: 61px;
    width: 154px;
    position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

#version {
    font-size: 14px;
    color: #999999;
    text-align: center;
}

.modal-content h5 { 
    text-align: center;
    margin-bottom: 2rem;
}

.modal-content p { 
    /* text-align: center */
    font-size: 1rem
}

